<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComparaClima"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ComparaClima">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RegistroActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".UsuarioActivity" />
        <activity android:name=".ComparacionActivity" />
        <activity android:name=".ResultadoActivity" />
        <activity android:name=".HistorialActivity" />
        <activity android:name=".AjustesGustos" />

    </application>
</manifest>